# macOS
.DS_Store

# R session files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Renviron

# RStudio
.Rproj.user/

# Participant data and generated analysis files
01_data/
02_models/
03_output/

# Common data files
*.RData
*.rds
*.csv
*.xlsx
